<div>
  <div class="row">
    <div class="col-1">
      <p>Votes</p>
      <p><%= question.votes %></p>
    </div>
    <div class="col-1">
      <p>Answers</p>
      <p><%= question.answers.size %></p>
    </div>
    <div class="col">
      <a href="<%= question_path(question) %>"> <p><%= question.title %></p> </a>
      <div>
        <div class="row">
          <div class="col-8">
            <%= render 'questions/question_tags', question: question %>
          </div>
          <div class="col">
            <%= render 'shared/time_of_asking', question: question %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>