<!DOCTYPE html>
<html>
  <head>
    <title>MiniMilasticStackoverflow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :load_files %>
  </head>
  <body>
    <%= render "layouts/navbar/navbar" %>

    <%= render "layouts/alert" %>
    <%= yield %>
  </body>
</html>
